In [11]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [12]:
number = 10
day = "Three"
"I ate %d apples. So i was sick for %s days." % (number, day)

'I ate 10 apples. So i was sick for Three days.'

In [17]:
# 연습문제 1
a = '970505-1234567'
print(a[:6])
print(a[7:])

970505
1234567

In [21]:
# 연습문제 2
a = [1, 3, 5, 4, 2]
a.append(6)
a.sort()
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [24]:
a = {'국어': 90, '수학': 90, '영어': 70}
#a['수학']
a.get('수학')

90

In [32]:
s = set('hellodooo')
s

{'d', 'e', 'h', 'l', 'o'}

In [34]:
a  = [1,1,1,2,2,3,3,4,5,5,5]
s = set(a)
s

{1, 2, 3, 4, 5}

In [38]:
# 1
sum = 0
i = 1
while i < 1001:
    if i % 3 == 0:
        sum += i
    i+=1
print(sum)

166833

In [39]:
# 2
i = 0
while i < 5:
    print('*'*(i+1))
    i+=1

*
**
***
****
*****

In [41]:
# 3
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for s in scores:
    sum += s
mean = sum / len(scores)
mean

79.0

In [45]:
# 4-1
stone = [[0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 1, 2, 1, 2, 1, 0],
        [0, 2, 1, 1, 1, 2, 2, 0, 0],
        [0, 0, 2, 2, 2, 1, 0, 2, 0],
        [0, 0, 0, 0, 0, 1, 0, 2, 1],
        [0, 0, 0, 2, 0, 1, 2, 1, 0],
        [0, 0, 0, 2, 1, 0, 1, 1, 0],
        [0, 0, 0, 1, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 2, 2, 2, 0, 0]]
black = 0
white = 0
for row in stone:
    for e in row:
        if e == 1:
            black += 1
        elif e == 2:
            white += 1
print('흑돌의 개수 : %d' % black)
print('백돌의 개수 : %d' % white)

흑돌의 개수 : 17
백돌의 개수 : 16

In [94]:
# 4-2
stone = [[0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 1, 2, 1, 2, 1, 0],
        [0, 2, 1, 1, 1, 2, 2, 0, 0],
        [0, 0, 2, 2, 2, 1, 0, 2, 0],
        [0, 0, 0, 0, 0, 1, 0, 2, 1],
        [0, 0, 0, 2, 0, 1, 2, 1, 0],
        [0, 0, 0, 2, 1, 0, 1, 1, 0],
        [0, 0, 0, 1, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 2, 2, 2, 0, 0]]

# 조교님 코드
# for i in range(len(stone)):
#     for i in range(len(stone[i])):


for row in stone:
    for e in row:
        if e == 1:
            print('%2s' %'●', end = '')
        elif e == 2:
            print('%2s' %'○', end = '')
        else:
            print('%3s' %'X', end = '')
    print('')

  X  X  X  X  X  X  X  X  X
  X ●  X ● ○ ● ○ ●  X
  X ○ ● ● ● ○ ○  X  X
  X  X ○ ○ ○ ●  X ○  X
  X  X  X  X  X ●  X ○ ●
  X  X  X ○  X ● ○ ●  X
  X  X  X ○ ●  X ● ●  X
  X  X  X ● ●  X  X  X  X
  X  X  X  X ○ ○ ○  X  X

In [98]:
# 4-3
stone = [[0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 1, 2, 1, 2, 1, 0],
        [0, 2, 1, 1, 1, 2, 2, 0, 0],
        [0, 0, 2, 2, 2, 1, 0, 2, 0],
        [0, 0, 0, 0, 0, 1, 0, 2, 1],
        [0, 0, 0, 2, 0, 1, 2, 1, 0],
        [0, 0, 0, 2, 1, 0, 1, 1, 0],
        [0, 0, 0, 1, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 2, 2, 2, 0, 0]]

column = len(stone[0])
print('%4s' %' ',end = '')
for i in range(column): print(i + 1, " ", end = '')
print('')
    
for row in stone:
    print(stone.index(row) + 1, end=' ')
    for e in row:
        if e == 1:
            print('%2s' %'●', end = '')
        elif e == 2:
            print('%2s' %'○', end = '')
        else:
            print('%3s' %'X', end = '')
    print('')

    1  2  3  4  5  6  7  8  9
1   X  X  X  X  X  X  X  X  X
2   X ●  X ● ○ ● ○ ●  X
3   X ○ ● ● ● ○ ○  X  X
4   X  X ○ ○ ○ ●  X ○  X
5   X  X  X  X  X ●  X ○ ●
6   X  X  X ○  X ● ○ ●  X
7   X  X  X ○ ●  X ● ●  X
8   X  X  X ● ●  X  X  X  X
9   X  X  X  X ○ ○ ○  X  X

In [71]:
# 4-4
start = int(input('X축 좌표값을 입력하세요(1~9, 종료 시 -1 입력) : '))
if start == -1:
    print('종료되었습니다!')
else:
    stone = [[0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 1, 0, 1, 2, 1, 2, 1, 0],
        [0, 2, 1, 1, 1, 2, 2, 0, 0],
        [0, 0, 2, 2, 2, 1, 0, 2, 0],
        [0, 0, 0, 0, 0, 1, 0, 2, 1],
        [0, 0, 0, 2, 0, 1, 2, 1, 0],
        [0, 0, 0, 2, 1, 0, 1, 1, 0],
        [0, 0, 0, 1, 1, 0, 0, 0, 0],
        [0, 0, 0, 0, 2, 2, 2, 0, 0]]
    x = start
    y = int(input('Y축 좌표값을 입력하세요(1~9, 종료 시 -1 입력) : '))
    
    i = 1
    for row in stone:
        j = 1
        for e in row:
            if j == x and i == y:
                if e == 1:
                    print('흑돌')
                elif e == 2:
                    print('백돌')
                else:
                    print('돌없음')
            j += 1
        i += 1

X축 좌표값을 입력하세요(1~9, 종료 시 -1 입력) : 9
Y축 좌표값을 입력하세요(1~9, 종료 시 -1 입력) : 5
흑돌

In [78]:
# 5-1
dic = {'ID': ['kim', 'lee', 'kwon', 'roro', 'hwang'], 
       'POINT': [15000, 7000, 8000, 12000, 19000]}
cnt = len(dic['ID'])
for i in range(cnt):
    print('%d. 아이디 : %s, 마일리지 : %d점' % (i+1, dic['ID'][i], dic['POINT'][i]))

1. 아이디 : kim, 마일리지 : 15000점
2. 아이디 : lee, 마일리지 : 7000점
3. 아이디 : kwon, 마일리지 : 8000점
4. 아이디 : roro, 마일리지 : 12000점
5. 아이디 : hwang, 마일리지 : 19000점

In [80]:
# 5-2
dic = {'ID': ['kim', 'lee', 'kwon', 'roro', 'hwang'], 
       'POINT': [15000, 7000, 8000, 12000, 19000]}
cnt = len(dic['ID'])

idx = dic['ID'].index('lee')
dic['POINT'][idx] = 10000

for i in range(cnt):
    print('%d. 아이디 : %s, 마일리지 : %d점' % (i+1, dic['ID'][i], dic['POINT'][i]))

1. 아이디 : kim, 마일리지 : 15000점
2. 아이디 : lee, 마일리지 : 10000점
3. 아이디 : kwon, 마일리지 : 8000점
4. 아이디 : roro, 마일리지 : 12000점
5. 아이디 : hwang, 마일리지 : 19000점

In [84]:
# 5-3
dic = {'ID': ['kim', 'lee', 'kwon', 'roro', 'hwang'], 
       'POINT': [15000, 7000, 8000, 12000, 19000]}

dic['ID'].append('kang')
dic['POINT'].append(7000)

cnt = len(dic['ID'])
for i in range(cnt):
    print('%d. 아이디 : %s, 마일리지 : %d점' % (i+1, dic['ID'][i], dic['POINT'][i]))

1. 아이디 : kim, 마일리지 : 15000점
2. 아이디 : lee, 마일리지 : 7000점
3. 아이디 : kwon, 마일리지 : 8000점
4. 아이디 : roro, 마일리지 : 12000점
5. 아이디 : hwang, 마일리지 : 19000점
6. 아이디 : kang, 마일리지 : 7000점

In [101]:
# 5-4
dic = {'ID': ['kim', 'lee', 'kwon', 'roro', 'hwang'], 
       'POINT': [15000, 7000, 8000, 12000, 19000]}

name = ''
max = 0

for p in dic['POINT']:
    if p > max:
        max = p
        name = dic['ID'][dic['POINT'].index(p)]
print('아이디 : %s, 마일리지 : %d점' % (name, max))

아이디 : hwang, 마일리지 : 19000점

In [119]:
# 6-1
dic = {'Name': ['Lee', 'Seo', 'Kim', 'An'],
      'Card': [[1, 10, 7, 2, 3], [2, 4, 7, 1, 5], [10, 3, 7, 9, 5], [6, 8, 1, 2, 5]]}
idx_name = 0
for name in dic['Name']:
    print('%s : ' % name, end='')
    for i in dic['Card'][idx_name]:
        print(i,end='')
        if dic['Card'][idx_name].index(i) != 4:
            print(',', end='')
    print()
    idx_name += 1

Lee : 1,10,7,2,3
Seo : 2,4,7,1,5
Kim : 10,3,7,9,5
An : 6,8,1,2,5

In [123]:
# 6-2
dic = {'Name': ['Lee', 'Seo', 'Kim', 'An'],
      'Card': [[1, 10, 7, 2, 3], [2, 4, 7, 1, 5], [10, 3, 7, 9, 5], [6, 8, 1, 2, 5]]}
dic['value'] = []
for l in dic['Card']:
    l.sort()
    dic['value'].append(l[int(5/2)])

idx_name = 0
for name in dic['Name']:
    print('%s : %d' % (name, dic['value'][idx_name]))
    idx_name += 1

Lee : 3
Seo : 4
Kim : 7
An : 5

In [141]:
# 7-1,2
cctv={
    "info": {
        "date": "2022-09-25",
        "day": "sunday",
        "weather": "sunny"
    },
    "annotations": [
        {
            "id": "Men_Tom",
            "age": 28,
            "top_type": "short_sleeve",
            "top_color": "yellow",
            "bottom_type": "short_pants",
            "bottom_color": "black",
        },
        {
            "id": "Men_Kevin",
            "age": 17,
            "top_type": "short_sleeve",
            "top_color": "white",
            "bottom_type": "long_pants",
            "bottom_color": "black",
        },
        {
            "id": "Men_Harry",
            "age": 24,
            "top_type": "shirt",
            "top_color": "black",
            "bottom_type": "long_pants",
            "bottom_color": "white",
        },
        {
            "id": "Women_Sunny",
            "age": 20,
            "top_type": "T-shirt",
            "top_color": "white",
            "bottom_type": "long_pants",
            "bottom_color": "black",
        }
    ]
}

cctv['info']['date'] = '2022-10-22'
cctv['info']['day'] = 'saturday'
cctv['info']['weather'] = 'sunny'


print('----------------------- # 2')
age_sum = 0
user_cnt = len(cctv['annotations'])    
for user in cctv['annotations']:
    age_sum += user['age']
print('Avg : %0.2f' % (age_sum/user_cnt))


print('----------------------- # 3')
men = []
women = []
for user in cctv['annotations']:
    if 'Men' in user['id']:
        men.append(user['id'][4:])
    else:
        women.append(user['id'][6:])
print('Men : ', men)
print('Women : ', women)


print('----------------------- # 4')
top_type = []
bottom_type = []
for user in cctv['annotations']:
    top_type.append(user['top_type'])
    bottom_type.append(user['bottom_type'])

top_type = list(set(top_type))
bottom_type = list(set(bottom_type))

print('Date : %s' % cctv['info']['date'])
print('Person : %d' % user_cnt)
print('top_type : ', top_type)
print('bottom_type : ', bottom_type)

----------------------- # 2
Avg : 22.25
----------------------- # 3
Men :  ['Tom', 'Kevin', 'Harry']
Women :  ['Sunny']
----------------------- # 4
Date : 2022-10-22
Person : 4
top_type :  ['short_sleeve', 'T-shirt', 'shirt']
bottom_type :  ['short_pants', 'long_pants']